.container {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  font-family: 'Bodoni 72 Oldstyle', bold;
}

.heading{
  font-size: 4.5rem;
  color: var(--sand);
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.tinyLogo{
  width: 100px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.imageWrapper {
  height: 23rem;
  width: 23rem;
  position: relative;
  overflow: hidden;
  border: 7px solid var(--light);
  border-bottom: 4.5rem solid var(--light);

}

.arrangements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2.5rem;
  font-family: 'Bodoni 72 Oldstyle', bold;
  color: var(--light);
  letter-spacing: 0.2rem;
  margin: 2rem;
}

.flower {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  
}

.imageWrapper>span>img:hover{
  transform: scale(1.1);
}

.flower:hover{
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-65px);
  color: var(--themeGreen);
  margin-left: 0.5rem;
}

.name > :nth-child(2) {
  font-size: 1.3rem;
  color: rgb(82, 82, 82);
}