.footer {
  color: var(--sand);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hLine {
  width: 70px;
  height: 2px;
  background-color: var(--sand);
}

.social{
  display: flex;
  gap: 0.7rem;
}

.logo{
  margin-top: -2rem;
  min-width: 200px;

}


