.header {
  display: flex;
  color: var(--sand);
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.header>:nth-child(3) {
  transform: translateX(-60px);

}

.logo{
  min-width: 330px;
  transform: translateX(-50px);
}

.logo:hover{
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 3rem;
}

.header>ul>li{
  list-style: none;
  margin-top: 1rem;
}

.badge1{
  position: absolute;
  display: flex;
  background-color: var(--themeRed);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  right: 5rem;
  font-size: 1rem;
}

.badge2{
  position: absolute;
  display: flex;
  background-color: var(--themeRed);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  right: -0.85rem;
  transform: translateY(-44px);
  font-size: 1rem;
}

.header>ul>li:hover{
  color: var(--themeRed);
  cursor: pointer;
  transform: scale(1.1);
}

